body, html {
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    color: white;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
}

.clock-date {
    /* margin-bottom: 1%; */
    font-size: 3em;
}

input {
    border: none;
    border-bottom: 0.5px white solid;
    padding-bottom: 5px;
    background-color: transparent;
    border-bottom-style: solid white 1px;
    width: 80%;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    color: white;
    margin-bottom: 35px;
}

textarea:focus, input:focus{
    outline: none;
}

::placeholder { 
    color: rgba(255, 255, 255, 0.74);
    opacity: 1; 
  }

button {
    cursor: pointer;
}

.landing-page {
    text-align: center;
    height: 100vh;
    /* height: 100%; */
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
}

.inner-div {
    display: block;
    background-color: rgba(73, 73, 73, 0.623); 
    border-radius: 50px;   
    width: 500px;
    height: 300px;
    padding: 50px;
    /* position: relative; */
    
    /* margin-top: 15%; */
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    /* margin: 0px auto; */
    /* position: static; */
    /* text-align: center; */
}

.landing-img {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: black;
    position: fixed;
    /* width: 100%;
    height: 100vh; */
    /* height: 100%; */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.search-button {
    padding: 10px 25px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    border-radius: 50px;
    transition: all 0.5s ease 0s;
}

.search-button:hover {
    background-color: white;
    color: black;
    transition: all 0.5s ease 0s;
    transition: transform .5s, visibility .5s ease-in;
    -ms-transform: scale(1.1);  
    -webkit-transform: scale(1.1); 
}

