body, html {
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    color: white;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
}

.clock-date {
    /* margin-bottom: 1%; */
    font-size: 3em;
}

input {
    border: none;
    border-bottom: 0.5px white solid;
    padding-bottom: 5px;
    background-color: transparent;
    border-bottom-style: solid white 1px;
    width: 80%;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    color: white;
    margin-bottom: 35px;
}

textarea:focus, input:focus{
    outline: none;
}

::placeholder { 
    color: rgba(255, 255, 255, 0.74);
    opacity: 1; 
  }

button {
    cursor: pointer;
}

.landing-page {
    text-align: center;
    /* height: 100vh; */
    height: auto;
    width: 100%;
    position: absolute;
}

.inner-div {
    display: block;
    background-color: rgba(73, 73, 73, 0.623); 
    border-radius: 50px;   
    width: 500px;
    height: 300px;
    padding: 50px;
    margin-bottom: auto;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.landing-img {
    background-color: black;
    position: fixed;
    width: 100%;
    height: 100vh;
    /* height: 100%; */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}